:root {
  font-size: 62.5%;
}

/* relative to the parent => window of the browser */
html {
  width: 100%;
}

/* relative to the parent */
body {
  width: 100%;
}

/* flexbox */
/* 
  * flex-direction: row, column;
  * gap: 1rem, 1px, 1em, 10%;
  * justify-content: flex-start, flex-end, center;
  * align-items: flex-start, flex-end, center, strech;
  * flex-wrap: 
*/
.container {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  gap: 1rem;
  width: 200px;
}

/* flex items */
/* 



*/
.container > div {
  width: 4rem;
  height: 2rem;
  background-color: grey;
}
